 
.section { 
    display: flex; 
    justify-content: center; 
    align-items: center;

} 
  
.carousel { 
    position: relative; 
    width: 100%; 
    height: 400px; 
    overflow: hidden;
    margin: auto; 
} 
  
.carousel-item .slide-image { 
    width: 85%;
    margin: auto;
    
} 
  
.carousel-item { 
    position: absolute; 
    width: 100%; 
    height: 300px; 
    border: none; 
    top: 0; 
    left: 100%; 
} 
  
.carousel-item.active { 
    left: 0; 
    transition: all 1.1s ease-in-out; 
} 
  
.carousel-item div { 
    height: 100%; 
}

@media (min-width:800px) {
    .section {
        display: none;
    }
}

/* Fixed 'Go to top button' */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border-radius: 20px;
  border-bottom: 2px solid rgb(255, 132, 0);
  outline: none;
  background-color: rgba(255, 187, 0, 0.705);
  cursor: pointer;
  padding: 8px;
  font-size: 18px;
}
#myBtn:hover {
  background-color: #555;
  border-bottom: #555;
}
